swagger: '2.0'
info:
  title: Api Rest Automoviles
  description: 'Api que almacena las especies segun su dominio taxonomico'
  version: 1.0.0
host: 'localhost:5000'
basePath: /v1/
consumes:
  - application/json
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/x-www-form-urlencoded

paths:
  /especie:
    get:
      tags:
        - Especie
      summary: obtiene todas las especies
      x-swagger-router-controller: especie.find
      parameters:
        - name: dominioTaxonomico
          in: query
          description: Dominio taxonomico completo de la especie. Ej.
                       reino.filo.clase.orden.familia.genero.especie
          required: false
          type: string
      responses:
        '200':
          description: Devuelve lista de automoviles
    put:
      tags:
        - Especie
      summary: Inserta una nueva especie
      x-swagger-router-controller: especie.insert
      parameters:
        - name: dominioTaxonomico
          in: query
          required: true
          type: string
        - name: especie
          in: body
          required: true
          schema:
            type: object
            required: 
              - reproduccion
              - metabolismo
            properties:
              reproduccion:
                type: string
              metabolismo:
                type: string
      responses:
        '201':
          description: Devuelve el objeto insertado
    delete:
      tags:
        - Especie
      summary: Elimina una especie
      x-swagger-router-controller: especie.remove
      parameters:
        - name: dominioTaxonomico
          in: body
          required: true
          schema:
            type: string
      responses:
        '204':
          description: retorna si el elemento se elimino correctamente